##### Q.1) Write a program to convert specified days into years,weeks and days
##### Take user input
##### Ignore the leap year

In [3]:
no = int(input('Enter no. of days:'))
year = no // 365

rem_days =no % 365
month = rem_days //30

days= rem_days % 30

print('year = ',year,'months= ',month,'days= ',days)

Enter no. of days: 1005

year =  2 months=  9 days=  5

##### Q.2) Write a program to input basicPython salary of an employee and calculate its gross salary according to following:
##### basic salary <= 10000: hra = 20%, da = 80%
##### basic salary <= 20000: hra = 30%, da = 90%
##### basic salary > 20000: hra = 35%, da = 95%

In [5]:
basic_salary = int(input('Enter the basic salary of an employee'))

if basic_salary <= 10000:
    hra = basic_salary * 0.20
    da = basic_salary * 0.80
    gross_salary = basic_salary + hra + da
    print('Gross Salary =',gross_salary)

elif basic_salary <= 20000:
    hra = basic_salary * 0.30
    da = basic_salary * 0.90
    gross_salary = basic_salary + hra + da
    print('Gross Salary =',gross_salary)

elif basic_salary > 20000:
    hra = basic_salary * 0.35
    da = basic_salary * 0.95
    gross_salary = basic_salary + hra + da
    print('Gross Salary =',gross_salary)

else:
    print('Issue in  entered salary')

Enter the basic salary of an employee 15000

Gross Salary = 33000.0

##### Q.3) WAP to input electricity unit charges and calculate total elctricity bill according to given conditions:
##### For first 50 units rs. 0.50/unit
##### For next 100 units rs. 0.75/unit
##### For next 100 units rs. 1.25/unit
##### For unit above 250 units rs. 1.50/unit
##### An additional surcharge of 17% is added to the bille bill

In [7]:
unit = int(input('Enter no. of unit:'))
if unit <= 50:
    amt = unit * 0.5
    print('Bill=',amt)

elif unit <=150 and unit>50:
    amt = unit * 0.75
    print('Bill=',amt)

if unit <= 250 and unit>150:
    amt = unit * 1.25
    print('Bill=',amt)

if unit > 250:
    amt = unit * 1.50
    print('Bill=',amt)

total_bill = amt + 0.17
print('Total bill =',total_bill)

Enter no. of unit: 100

Bill= 75.0
Total bill = 75.17

##### Q.4) WAP to print given pattern:
##### 1
##### 22
##### 333
##### 4444 
##### 55555

In [8]:
row = int(input('Enter no. of rows you want to print:'))
for i in range(1, row+1):
    print(' ')
    for j in range(i):
        print(i, end=' ')

Enter no. of rows you want to print: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

##### Q.5) WAP to calculate product of digits of a number. Read value of n from user

In [9]:
n = int(input('Enter the number:'))
mul = 1
while n > 0:
    rem = n % 10
    mul =mul * rem
    n = n // 10
print('Product=',mul)

Enter the number: 12345

Product= 120

##### Q.6) Create list of elements like: x=[ 45, 67,12,'hello',23.45,'world'] and perform following operations:
##### 1. extract only string values from this list
##### 2. create a new list with strings in uppercase
##### 3. find addition of integer values
##### 4. check that value 56 is present in it or not
##### 5. print list in reverse order
##### 6. delete string hello from it
##### 7. insert new value 36 at 5th position in list
##### 8. count total no. of elements in list now
##### 9. extract values from 2nd index to 5th index
##### 10. append[34,'pune'] to the list
##### 11. delete the last element from the list

In [10]:
x = [45, 67, 12, 'hello', 23.45, 'world']

In [11]:
#1

y=x[3],x[-1]
y

('hello', 'world')

In [12]:
#2

y=[n.upper() for n in y]
y

['HELLO', 'WORLD']

In [13]:
#3

e=[45,67,12,23.45]
sum(e)

147.45

In [14]:
#4

56 in x

False

In [15]:
#5

x.reverse()
x

['world', 23.45, 'hello', 12, 67, 45]

In [16]:
#6

x.remove('hello')
x

['world', 23.45, 12, 67, 45]

In [17]:
#7

x.insert(4,36)
x

['world', 23.45, 12, 67, 36, 45]

In [18]:
#8

len(x)

6

In [19]:
#9

x[2:5]

[12, 67, 36]

In [20]:
#10

x.append([34,'pune'])
x

['world', 23.45, 12, 67, 36, 45, [34, 'pune']]

In [21]:
#11

x.pop(-1)
x

['world', 23.45, 12, 67, 36, 45]

##### Q.7) Create a tuple of elements with 5 float values in it and perform following operations:
##### 1. print data in sorted manner
##### 2. check to see that element 50 is present in it
##### 3. convert this tuple in set

In [24]:
t=(12.23,34.45,76.32,56.87,23.85)
t

(12.23, 34.45, 76.32, 56.87, 23.85)

In [25]:
#1

sorted(t)

[12.23, 23.85, 34.45, 56.87, 76.32]

In [26]:
#2

50 in t

False

In [27]:
#3

m=list(t)
m

[12.23, 34.45, 76.32, 56.87, 23.85]

##### Q.8)create a dictionary of elements:{'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'} and perform operations:
##### 1.access data at key 'k'
##### 2. add a new value 'z':'zebra'
##### 3. replace contents of 'd' as 'dog'
##### 4. print alll values from dictionary
##### 5. find length of this dictionary

In [28]:
d={'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [29]:
#1

d['k']

'king'

In [30]:
#2

d['z']='zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [31]:
#3

d['d']='dog'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [32]:
#4

d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [33]:
#5

len(d)

6

##### Q.9) WAP to find second largest element in list

In [34]:
l=[12,23,34,45,56]
sorted(l)
print('second largest element is:',l[-2])

second largest element is: 45

##### Q.10) This is the list of some metallic elements:
#####       metals=['silver','gold',...]
#####       make a new list that is almost identical to metals list:
#####       the new contains same items,in same order,except that it does NOT contain the item 'copper'.

In [35]:
metals=['silver','gold','copper','iron','zinc']
print('metals from first list=',metals)
metals.remove('copper')
metals2=metals.copy()
print('metals from second list=',metals2)

metals from first list= ['silver', 'gold', 'copper', 'iron', 'zinc']
metals from second list= ['silver', 'gold', 'iron', 'zinc']