In [2]:
class Employee():  # creating the class
    pass

In [3]:
emp1 = Employee() # creating an instance of a class
emp2 = Employee()

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000022933495FD0>
<__main__.Employee object at 0x0000022933497950>

In [5]:
# instance variable

emp1.first = 'Sharvari'
emp1.last = 'Pawar'
emp1.salary = 65000

emp2.first = 'Natasha'
emp2.last = 'Negi'
emp2.salary = 50000

In [6]:
print(emp1.first)

Sharvari

In [7]:
print(emp2.salary)

50000

In [8]:
class Employee():

    def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary

In [9]:
emp1 = Employee('Sharvari','Pawar',50000)

In [10]:
print(emp1.first)

Sharvari

In [11]:
emp2 = Employee('Raj','Sharma',48000)

In [12]:
print(emp2.last)

Sharma

In [13]:
class Employee():

    def __init__(self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
       print(self.first + ' ' + 'ok')

In [14]:
emp1 = Employee('Sharvari','Pawar',55000)

In [15]:
print(emp1.first)

Sharvari

In [16]:
emp2= Employee('Raj','Sharma',45000)

In [18]:
emp2.show()

Raj ok

In [21]:
# encapsulation
class Employee1():

    def __init__(self, first, last, salary):
        self.first = first
        self.last = last  # private variable
        self.salary = salary

    def show(self):
       print(self_salary)

In [22]:
emp1 = Employee1('Sharvari','Pawar',50000)
emp2 = Employee1('raj','Sharma',56000)

In [23]:
print(emp1.first)

Sharvari

In [24]:
print(emp1.last)

Pawar

In [25]:
print(emp1.salary)

50000

In [26]:
# inheritance
class Emp2(Employee1):
    pass

In [27]:
emp3= Emp2('neha', 'kulkarni', 55000)

In [28]:
emp3.show()

NameError: name 'self_salary' is not defined

In [31]:
'''Create a class called person
attributes=> name, age, city,...(make use of default parameters also)
create a method which will show all the info of a person '''

class Person():

    def __init__ (self, n, a=25):
       self.name = n
       self.age=a

    def info(self):
        print('name', self.name)
        print('age',self.age)

In [ ]:
p1 = Person('ajinkya',21)
p2=Person